
<div class="container mt-5">
    <div class="row animate__animated animate__bounceInLeft">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Historial de transferencias</span>
                    
                    <p><i class="fas fa-circle-notch fa-spin fa-8x mt-5" *ngIf="cargando"></i></p>
                    <p class="my-5" *ngIf="noData"><i class="fas fa-info-circle"></i> No se encontraron transferencias realizadas</p>
                    <table class="table table-hover table-striped mt-3" *ngIf="!cargando && !noData">
                        <thead>
                          <tr>
                            <th scope="col">Nombre Destinatario</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Tipo de cuenta</th>
                            <th scope="col">Monto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let hist of listaHistorial ">
                            <td>{{hist.nombre}}</td>
                            <td>{{hist.rut}}</td>
                            <td>{{hist.banco}}</td>
                            <td>{{hist.tipoCuenta}}</td>
                            <td>{{hist.monto | currency}}</td>
                          </tr>
                        
                         
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </div>
</div>


