<div class="container my-2 "> 
        <div class="row animate__animated animate__bounceInRight ">
            <div class="col-lg-10 offset-lg-1 ">
                <div class="card border-0 shadow rounded bg-body">
                    <div  class="card-body align-middle">
                    <a routerLink="/" class="btn  banco border-0 float-start ">Banco Santana </a>

                    <button class="btn btn-primary shadow-sm destinatario float-end ms-2 mt-3" 
                            type="button" 
                            routerLink="/nuevo-destinatario">
                            <i class="fas fa-plus"></i> Destinatario
                    </button>
                    <button class="btn btn-success shadow-sm transferir float-end mt-3" 
                            type="button" 
                            routerLink="/transferir">
                            <i class="fas fa-money-bill"></i> Transferir
                    </button>
                    </div>
                </div>
            </div>
        </div>
</div>
<router-outlet></router-outlet>
<div class="container mb-5  fixed-bottom mb-2"> 
          
    <p class="card-text text-light text-center">© Gonzalo Santana Ossandón</p>

</div>